<body>
    <!--header-->
    <!--/header-->
    <!--contain-->
    <div class="container">
        <h1 class="text-center">Inspiring Quotes</h1>
    </div>
    <div class="container">
        <div class="row destacados">
            {{#each emotions}}
            <div class="col-md-3">
                <a href="/task1?title={{title}}">
                    <img src={{imagePath}} alt={{title}} class="img-circle img-thumbnail">
                    <h2>{{title}}</h2>
                </a>
            </div>
            
            {{/each}}
            
        </div>   
        <div class="row text-center">
            <img class="img-thumbnail" src={{quotePath}} />
        </div>
    </div>

    
    <!--/contain-->
    <!--footer-->
    <footer class="container-fluid text-center">
        Copyright &copy; 2022 by 20127119 - Pham Nguyen Gia Bao
    </footer>
    <!--/footer-->
</body>